:host {
    .is-error {
        --mat-form-field-outlined-outline-color: #e11d48 !important;
        --mat-form-field-outlined-focus-outline-color: #e11d48 !important;
        --mat-form-field-outlined-hover-outline-color: #e11d48 !important;
    }
}