<button matIconButton [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="flex items-center justify-center">
    <span class="material-symbols-outlined">more_vert</span>
</button>
<mat-menu #menu="matMenu">
    @for (action of actions(); track $index;) {
        <button mat-menu-item
            [disabled]="action.disabled" 
            (click)="_onActionSelected($event, action)"
        >
            <div class="flex items-center">
                @if (action.icon) {
                    <span class="material-symbols-outlined mr-2">{{ action.icon }}</span>
                }
                <span>{{ action.label }}</span>
            </div>
        </button>
    }
</mat-menu>