@let isError = touched() && errors()?.length > 0;
 
@if (label()) {
    <label 
        class="font-medium text-text-main"
    >
        <span [class.!text-rose-600]="isError">{{ label() }}</span> 
        <span class="text-rose-600">{{ (errors() | json)?.length > 0 ? ' *' : '' }}</span>
    </label>
}
    
<div cdkOverlayOrigin #origin="cdkOverlayOrigin" class="w-full">
    <input 
        class="w-full h-10 py-1 px-4 border rounded-xl outline-none focus:outline-none border-border-base bg-surface text-text-main placeholder:text-text-muted/50"
        [class.border-rose-600]="isError"
        [class.border-border-base]="!isError"
        [type]="type()"
        [placeholder]="placeholder()"
        [value]="_label()"
        [readonly]="readonly() || inputReadonly()"
        (input)="onInput($event)"
        (blur)="touch.emit()"
        (focus)="openDropdown()"
    />
</div>

@if (touched()) {
    <div class="flex flex-col gap-2">
        @for (error of errors(); track error) {
            <span class="text-rose-600 text-sm tex">{{ error?.message }}</span>
        }
    </div>
}

<ng-template
    cdk-connected-overlay
    [cdkConnectedOverlayOrigin]="origin"
    [cdkConnectedOverlayOpen]="isDropdownOpen()"
    [cdkConnectedOverlayPositions]="overlayPositions"
    [cdkConnectedOverlayWidth]="panelWidth()"
    (overlayOutsideClick)="closeDropdown()"
    (detach)="closeDropdown()"
>
    <div
        class="max-h-56 overflow-y-auto border border-border-base shadow-ui-md bg-surface rounded-xl p-1 flex flex-col"
        tabindex="-1"
        [style.width.px]="panelWidth()"
    >
        @if (!collection()?.length) {
            <span class="text-text-muted w-full text-center py-2">No data found!</span>
        } @else {
            @for (item of collection() ?? []; track item.value) {
                <button
                    class="text-text-main text-left cursor-pointer hover:bg-surface-hover rounded-xl py-2 px-4 focus:outline-none transition-colors"
                    (click)="onSelect(item)"
                >
                    {{ item.label }}
                </button>
            }
        }
    </div>
</ng-template>
