<div class="card flex flex-col gap-2">
    <h3 class="font-medium text-xl text-text-main">Loan details</h3>
    <div class="grid gap-6 md:grid-cols-3">
        <div class="flex gap-3">
            <div>
                <p class="tracking-wide text-text-muted">Amount Loaned</p>
                <p class="text-base text-text-main">{{ details().amountLoaned | currencyFormatter }}</p>
            </div>
        </div>

        <div class="flex gap-3">
            <div>
                <p class="tracking-wide text-text-muted">Total Paid</p>
                <p class="text-base text-text-main">{{ details().amountPaid | currencyFormatter }}</p>
            </div>
        </div>

        <div class="flex gap-3">
            <div>
                <p class="tracking-wide text-text-muted">Total Left</p>
                <p class="text-base text-text-main">{{ details().amountLoaned - details().amountPaid | currencyFormatter}}</p>
            </div>
        </div>

        <div class="flex gap-3">
            <div>
                <p class="tracking-wide text-text-muted">Interest Rate</p>
                <p class="text-base text-text-main">{{ details().rate }}% ({{ (details().amountLoaned * (details().rate / 100)) | currencyFormatter }})</p>
            </div>
        </div>

        <div class="flex gap-3">
            <div>
                <p class="tracking-wide text-text-muted">Due Created</p>
                <p class="text-base text-text-main">{{ details().dateCreated | dateFormatter }}</p>
            </div>
        </div>

        <div class="flex gap-3">
            <div>
                <p class="tracking-wide text-text-muted">Due Date</p>
                <p class="text-base text-text-main">{{ details().dueDate | dateFormatter }}</p>
            </div>
        </div>
    </div>
</div>