<div class="font-medium">
    <div class="flex gap-2 items-center text-xl">
        @for(page of pages; track $index) {
            @let isActive = $index === pages.length - 1;
            <div class="flex items-center gap-2">
                <span [class.text-text-main]="isActive" [class.text-text-muted]="!isActive">
                    {{ page }}
                </span>
                
                @if(!isActive) {
                    <span class="text-text-muted/40"> > </span>
                }
            </div>
        }
    </div>
</div>
