<div class="font-medium">
    <div class="flex items-center text-xl">
        @for(page of pages; track $index) {
            @let isActive = $index === pages.length - 1;
            <div class="flex items-center">
                <span [class.text-text-main]="isActive" [class.text-text-muted]="!isActive">
                    {{ page }}
                </span>
                
                @if(!isActive) {
                     <span class="material-symbols-outlined text-text-muted opacity-60">
                        chevron_right
                    </span>
                }
            </div>
        }
    </div>
</div>
