<section class="mt-6 px-4 w-full max-width">

    <app-member-selection-dropdown 
        (onSelectMember)="onSelectMember($event)"
    />
    
    @if (selectedMember()) {
        <section class="mt-4 flex flex-col gap-4 w-full">
            <app-member-summary
                [user]="selectedMember()!"
                [showTotalDeposits]="true"
                [showTotalWithdrawals]="true"
                [showAvailableBalance]="true"
            />

            <form (submit)="onSubmit($event)">
                <div class="card flex flex-col gap-4 relative">
                    @if (selectedMember()?.is_disabled) {
                        <app-disable-cover-component
                        [header]="'Member is disabled'"
                        [message]="'Please enable the member to perform withdrawals'" />
                    }

                    <div class="flex flex-col gap-0.5 mb-4">
                        <mat-label class="text-text-main font-medium">Date <span class="text-rose-600">*</span></mat-label>
                        <mat-form-field>
                            <input 
                                matInput 
                                readonly 
                                [max]="maxDate" 
                                [matDatepicker]="picker" 
                                [formField]="withdrawalForm.date"
                                (keydown)="$event.preventDefault()"
                                (click)="picker.open()"
                            >
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <app-inputfield
                        [formField]="withdrawalForm.amount"
                        label="Amount"
                        inputMode="decimal"
                        placeholder="Enter withdrawal amount"
                    />

                    <app-inputfield
                        [formField]="withdrawalForm.notes"
                        label="Notes (optional)"
                        placeholder="Enter withdrawal notes"
                        type="textarea"
                    />

                    <div class="flex justify-end">
                        <button
                            type="submit"
                            matButton="filled"
                            color="primary"
                            [disabled]="withdrawalForm().invalid() || isSubmitting()"
                        >{{ isSubmitting() ? 'Recording...' : 'Record Withdrawal' }}</button>
                    </div>
                </div>
            </form>
        </section>
    }
</section>